    
    {% extends 'index.html' %} 
<div class="container">

   
    
{% block 'categories' %}
<div class="row">
 
  <div class="col-lg-3">
    <br>
     
              
    <form class="example" method="post" style="margin:auto;max-width:300px">
      {% csrf_token %}
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
     <div class="list-group">
      {% for x in cat %}
    <a href="{% url 'category' id=x.id %}" class="list-group-item">{{x.catname}}</a>
      {% endfor %}
  </div>

  </div>
 
  {% endblock %}

    
      
       <!-- /.col-lg-3 -->
       {% block 'body' %}

      <div class="col-lg-9">
        <br>
        <br>
       

        <h2 class="text-light bg-dark container"> Sign Up <hr noshade="red"></h2>
        <form method="post" class="form ">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-sm-12">
                <input type="text" name="fname" class="text-dark form-control form-control-lg" placeholder="Enter First Name*" required> <br>
                </div>
                <div class="col-md-6 col-sm-12">
                
                <input type="text" name="Lname" class="text-dark form-control form-control-lg" placeholder="Enter Last Name"> <br>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
            
                    <input type="text" name="usname" class="text-dark form-control form-control-lg" placeholder="Enter Username*" required><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">          
                    <input type="email" name="email" class="text-dark form-control form-control-lg" placeholder="Enter Email*" required><br>
                </div>
                <div class="col-md-6 col-sm-12">
                    <input type="text" name="mobile" pattern="[0-9]{10}" class="text-dark form-control form-control-lg" placeholder="Enter Mobile*" required> <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">          
                    <input type="password" name="password" class="text-dark form-control form-control-lg" placeholder="Enter Password*" required> <br>
                </div>
                <div class="col-md-6 col-sm-12">
                    <input type="password" name="password1" class="text-dark form-control form-control-lg" placeholder="Renter Password*" required> <br>
                </div>
            </div>
        <input type="text" name="address" class="text-dark form-control form-control-lg" placeholder="Enter Address"> <br>
        
        
        <div class="row">
            <div class="col-md-6 col-sm-12">  
                
                <h3 class="text-light bg-dark"> User Type*</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">  
                        
                <label class="text-dark form-control btn-light " ><input type="radio" name="usertype" value="seller" >  Seller</label>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="text-dark form-control btn-light" ><input type="radio" name="usertype" value="buyer" >  Buyer</label>
            </div>
        </div>
        
        
        
        <input type="submit" class="btn btn-lg btn-warning text-light form-control form-control-lg " value="Submit Data">
        
        </form>
        <br>
       

        {% block 'products' %}
        <div class="row">
          
        {% for x in products %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{{x.pro_img.url}}"  alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{x.name}}</a>
                </h4>
                <h5>{{x.price}}</h5>
                <p class="card-text">{{x.desc}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
          {% endfor %}
          
        
        </div>
        {% endblock %}
            <!-- /.row -->

      </div>
      {% endblock %}
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>


